

.logen{
    display: flex;
    margin-left: 30%;
    width: 40%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
}


.contact-col{
    /* border: 2px solid black; */
    padding: 25px;
    background-color: aliceblue;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 12px 0px rgba(0,0,0.3);
}


.contact-col h2{
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 15px;
}


.contact-col input{
    width: 100%;
    padding: 11px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    background-color: antiquewhite;
    border-radius: 15px;
    box-sizing: border-box;
    /* text-shadow: ; */
    box-shadow: 0 0 8px 0px rgba(0,0,0.2);
    
}


.contact-col details form{
    margin-top: 13px;
    
}


.cont-Button{
    margin-bottom: 8px;
    height: 25px;
    padding: 5px;
    color: black;
    background-color: antiquewhite;
    border-radius: 4px;
    box-shadow: 0 0 8px 0px rgba(0,0,0.2);
}

.cont-Button:hover{
    background-color: #f44336;
    transition: 1s;
}



@media(max-width:700px){
    .logen{
        display: flex;
        margin-left: 5%;
        width: 90%;
        margin-top: 5%;
        margin-bottom: 5%;
       
        
        
    }

    .contact-col form{
        padding: 20px;
        margin: auto;
        
    }

    /* .contact-col{
        width: 85%;
    } */
}